/*
  from annotorious demo
*/

#map-annotate-button {
    background-image: url(../images/feather_rest.png);
/*
    background-color: #9f9f9f;
*/
    background-color: transparent;
    background-repeat: no-repeat;
    position:absolute;
    opacity: 0.8;
    bottom:5px;
    right:5px;
    width:14px;
    height:14px;
    padding:14px 16px;
}

#map-annotate-button:hover {
    background-image: url(../images/feather_hover.png);
}
