#container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


#openseadragonSpinner {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    z-index: 1;
    color: white;
}

.adjust-to-z-index {
    height: calc(100% - 140px) !important;
}