/* bootstrap's panel */
.list-group-item {
       margin-left: 10px;
       background-color: orange;
}

/*
.tabbox {
	width: 200px;
	height: 30%;
}
*/

#annotationTabs {
	width: 200px;
	height: 70%;
}

#controlTabs {
	width: 200px;
	height: 30%;
}

.tabbox a {
	display: block;
	height: 16px;
	line-height: 14px;
	float: left;
	text-decoration: none;
	color: #fff; 
  -moz-border-radius: 2px 2px 0px 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -khtml-border-bottom-right-radius: 0px;
  -khtml-border-top-right-radius: 2px;
  -khtml-border-top-left-radius: 2px;
	font-size: x-small;
	letter-spacing: 1px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	margin-top: 5px;
}

.tabbox a.selected {
	background: #AFAFAF;
	color: #222;
	font-weight: bold;
}

.tabContent {
	display: block;
	width: 205px;
	height: 200px; 
	margin-top: 16px;
	padding: 10px;
	border: 1px solid #AFAFAF;
  -moz-border-radius: 0px 2px 2px 0px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -khtml-border-bottom-right-radius: 2px;
  -khtml-border-top-right-radius: 2px;	
}


.navigation {
        background-color: #ccc;
        opacity: 0.8;
	position: fixed;
	padding: 0px;
	bottom: 0px;
	left: 0px;
	list-style: none;
	z-index: 9999;
}

.navigationLi {
	width: 100%;
}

.menu {
	display: block;
	margin-top: 20px;
	margin-left: 0px;
	width: 100%;
	height: 100%;
  -moz-border-radius: 2px 2px 0px 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -khtml-border-bottom-right-radius: 0px;
  -khtml-border-top-right-radius: 2px;
  -khtml-border-top-left-radius: 2px;
	opacity: 0.8;
}

.menuDisabled {
	opacity: 0.1;
}

.caption {
  float: right;
  position: relative;
  right: 0px;
  width: 10px;
  height: 70px;
  margin: -4px;
  font-size: smaller;
  border: 2px solid blue;
  letter-spacing: 1px;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg); /* FF3.5+ */
      -ms-transform: rotate(90deg); /* IE */
       -o-transform: rotate(90deg); /* Opera 10.5 */
          transform: rotate(90deg); 
}

.menuLabel {
  letter-spacing: 1px;
  font-size: small;
  font-weight: bold;  
}

