
#osd-channels-control-button {
    right:50px;
}

h3.page-header {
     border-top: none;
     margin-top: 0;
}

#content {
     width: 100vh;
     height: 100vh;
     background-color: white;
}

#viewer {
     position: fixed;
     left: 0;
     width: 100%;
     height: 100vh;
     margin-bottom: 0;
 }

#kannotations {
     display: none;
     color: black;
     position: fixed;
     right: 0;
     bottom: 0;
     width: 20%;
     height: 50%;
     background-color: #fff;
     overflow-y: scroll;
     -webkit-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.1);
     -moz-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.1);
     box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.1);
     border-top: 1px solid #ccc;
}

#kcontrol {
     display: none;
     position: fixed;
     right: 0;
     width: 20%;
     height: 50%;
     background-color: white;
     overflow-y: scroll;
     -webkit-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.1);
     -moz-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.1);
     box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.1);
}

#selections {
   margin-top: 20px;
}

#itemList {
   color: black;
   margin: 0px; 
}

#itemList .item {
   margin-top: 5px;
   margin-bottom: 5px;
   overflow: hidden;
   font-size: 12px;
}

#channels-list {
   width: 85%;
   margin: 5px;
}

#annotations-list {
   width: 85%;
   margin: 5px;
}

.filtercontrol {
     padding: 0px;
     width: 90%;
}

.filtercontrol .filter-slider {
     display: inline-block;
     zoom: 1;
     vertical-align: top;
     font-size: 12px;
     margin: 10px 0;
     width: 95%;
}

.slider {
  margin-top: 4px;
}

.caption {
  font-weight: 700;
}

.h-slider {
  background: -webkit-linear-gradient(left, hsla(0, 100%, 50%, 1),
   hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),
   hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),
   hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),
   hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),
   hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),
   hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),
   hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),
   hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),
   hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),
   hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),
   hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),
   hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
  background: -moz-linear-gradient(left, hsla(0, 100%, 50%, 1),
   hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),
   hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),
   hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),
   hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),
   hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),
   hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),
   hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),
   hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),
   hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),
   hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),
   hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),
   hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
}



//http://elijahmanor.com/css-animated-hamburger-icon/
#nav-toggle { cursor: pointer; padding: 10px 25px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 1px;
  border: 1px solid black;
  height: 3px;
  right: 7px;
  width: 20px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  right: -1px;
  top: -6px; 
}
#nav-toggle span:after {
  right: -1px;
  bottom: -6px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 100ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
  border: 1px transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* a filtering panel */
.panel {
  margin: 15px 5px;
  border: none;
}

.panel-body {
   background-color: white;
   overflow: hidden;
}

.panel-title {
/*
  font-weight:bold;
*/
  color: #000;
  font-size: 14px;
}

.panel > .panel-heading {
    background-image: none;
    background-color: white;
    color: white;
    border: 1px solid #f9f9f9;
    border-radius: 3px;
}

.panel-heading .accordion-toggle:after {
    font-size: 14px;
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e137";    
    float: left;        
    margin-right:10px;
    color: #337ab7;
}


