/*
  from annotorious demo
*/

.annotorious-popup-button-click:hover {
    background-color:transparent;
    background:url(annotorious/eye_icon.png) no-repeat;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.annotorious-popup-button-click {
    dislay: block;
    position:absolute;
    top: 10px;
    right: 3px;
    background:url(annotorious/eye_icon.png) no-repeat;
    outline:none;
}

.annotorious-popup-button-click:before {
    content: "\e105";
}

.glyphicon-tag {
    text-shadow: 0 0 5px black;
    font-size: 24px;
}

.glyphicon.smaller {font-size: 8px;}
.glyphicon.bigger {font-size: 30px;}


.arrow-annotation-outer {
  border-width: 0px;
}

.arrow-annotation-outer:hover {
  border-width: 2px;
}

.arrow-annotation-inner {
   border-width: 0px;
}

.arrow-annotation-inner:hover {
  border-width: 2px;
}

.special-annotation {
    border: 3px solid green;
}

.osd-control-btn {
    background-repeat: no-repeat;
    background-color: #ccc;
    position:absolute;
    opacity: 0.7;
    bottom:5px;
    border-radius: initial;
    border-width: 2px;
    border-style: none outset outset;
    width:14px;
    height:14px;
    padding:15px 16px;
}

#osd-saveAnno-button {
    right:660px;
}
#osd-loadAnno-button {
    right:605px;
}
#osd-jpgAll-control-button {
    right:555px;
}
#osd-arrow-control-button {
    right:505px;
}
#osd-test-control-button {
    right:460px;
}
#osd-jpg-control-button {
    right:415px;
}
#osd-special-control-button {
    right:365px;
}
#osd-zoomin-control-button {
    right:320px;
}
#osd-zoomout-control-button {
    right:275px;
}
#osd-home-control-button {
    right:230px;
}
#osd-fullpage-control-button {
    right:185px;
}
#osd-focus-control-button {
    right:140px;
}
#osd-anno-control-button {
    right:95px;
}

#osd-annotate-button {
    background-image: url(../images/feather_rest.png);
    background-color: #ccc;
    background-repeat: no-repeat;
    position:absolute;
    opacity: 0.8;
    bottom:5px;
    right:5px;
    width:14px;
    height:14px;
    padding:14px 16px;
}

#osd-annotate-button:hover {
    background-image: url(../images/feather_hover.png);
}
#osd-annotate-button:active {
    background-image: url(../images/feather_pressed.png);
}

.panel-body {
   background-color: green;
   margin-left: 10px;
   max-height: 10;
   overflow-y: scroll;
}

#annotations-list {
   width: 85%;
   margin-top: 5px;
   margin-bottom: 5px;
   overflow: hidden;
   font-size: 12px;
}
