/*
  from annotorious demo 
*/

.annotorious-popup-button-click:hover {
    color: grey;
    text-decoration: none;
}

.annotorious-popup-button-click {
    position:absolute;
    background-repeat: no-repeat;
    background-color:transparent;
    color: #ccc;
    top: 10px;
    right: 15px;
    text-shadow: 0 0 5px black;
}

.annotorious-popup-button-zap {
    position:absolute;
    background-repeat: no-repeat;
    background-color:transparent;
    color: #ccc;
    top: 10px;
    right: 40px;
    text-shadow: 0 0 5px black;
}

.annotorious-popup-button-zap:hover {
    color: grey;
    text-decoration: none;
}

.annotorious-popup-button-mark:hover {
    text-decoration: none;
    color: black;
    text-shadow: 0 0 5px #ccc;
}

.annotorious-popup-button-mark {
    position:absolute;
    background-repeat: no-repeat;
    background-color:transparent;
    color: black;
    top: 10px;
    right: 65px;
    text-shadow: 0 0 1px #ccc;
}


.glyphicon-tag { 
    opacity: 0.7;
    text-shadow: 0 0 5px black;
} 

.glyphicon-smaller { font-size: 15px; }
.glyphicon-bigger {font-size: 30px;}


.annotation-overlay-outer {
  border-width: 0px;
}

.annotation-overlay-outer:hover {
  border-width: 3px;
}

.annotation-overlay-inner {
   border-width: 0px;
}

.annotation-marker {
   position:absolute;
   left:0;
   top:0;
}

.annotation-marker-tooltip {
   position: absolute;
   top: 20%;
   left: 40%;
   z-index: 100;
   font-weight: bold;
   font-size: small;
   color: white;
}

.osd-control-btn {
    background-repeat: no-repeat;
    background-color: #ccc;
    position:absolute;
    opacity: 0.7;
    bottom:5px;
    border-radius: initial;
    border-width: 2px;
    border-style: none outset outset;
    width:14px;
    height:14px;
    padding:15px 16px;
}

#osd-saveAnno-button {
    right:690px;
}
#osd-loadAnno-button {
    right:640px;
}
#osd-jpgAll-control-button {
    right:595px;
}
#osd-hidden-control-button {
    right:550px;
}
#osd-marker-control-button {
    right:505px;
}
#osd-special-control-button {
    right:460px;
}
#osd-test-control-button {
    right:415px;
}
#osd-jpg-control-button {
    right:365px;
}
#osd-zoomin-control-button {
    right:320px;
}
#osd-zoomout-control-button {
    right:275px;
}
#osd-home-control-button {
    right:230px;
}
#osd-fullpage-control-button {
    right:185px;
}
#osd-focus-control-button {
    right:140px;
}
#osd-anno-control-button {
    right:95px;
}

#osd-annotate-button {
    background-image: url(../images/feather_rest.png);
    background-color: #ccc;
    background-repeat: no-repeat;
    position:absolute;
    opacity: 0.8;
    bottom:5px;
    right:5px;
    width:14px;
    height:14px;
    padding:14px 16px;
}

#osd-annotate-button:hover {
    background-image: url(../images/feather_hover.png);
}
#osd-annotate-button:active {
    background-image: url(../images/feather_pressed.png);
}

.panel-body {
   background-color: green;
   margin-left: 10px;
   max-height: 10;
   overflow-y: scroll;
}

#annotations-list {
   width: 85%;
   margin-top: 5px;
   margin-bottom: 5px;
   overflow: hidden;
   font-size: 12px;
}

