/*
  from annotorious demo 
*/

.annotorious-popup-button-click:hover {
    background-color:transparent;
    background:url(annotorious/eye_icon.png) no-repeat;
    outline:none;
}

.annotorious-popup-button-click {
    border: 1px solid green;
    background:url(annotorious/eye_icon.png) no-repeat;
    outline:none;
}

.arrow-annotation-marker {
   color:red;
}

.arrow-annotation-marker:hover {
   color:white;
}

.arrow-annotation-outer {
  border: 0px solid black;
}

.arrow-annotation-outer:hover {
    border: 1px solid red;
}

.arrow-annotation-inner {
    border: 0px solid black;
}

.special-annotation {
    border: 3px solid green;
}

.osd-control-btn {
    background-repeat: no-repeat;
    background-color: #ccc;
    position:absolute;
    opacity: 0.7;
    bottom:5px;
    border-radius: initial;
    border-width: 2px;
    border-style: none outset outset;
    width:14px;
    height:14px;
    padding:15px 16px;
}

#osd-saveAnno-button {
    right:660px;
}
#osd-loadAnno-button {
    right:605px;
}
#osd-jpgAll-control-button {
    right:555px;
}
#osd-arrow-control-button {
    right:505px;
}
#osd-test-control-button {
    right:460px;
}
#osd-jpg-control-button {
    right:415px;
}
#osd-special-control-button {
    right:365px;
}
#osd-zoomin-control-button {
    right:320px;
}
#osd-zoomout-control-button {
    right:275px;
}
#osd-home-control-button {
    right:230px;
}
#osd-fullpage-control-button {
    right:185px;
}
#osd-focus-control-button {
    right:140px;
}
#osd-anno-control-button {
    right:95px;
}

#osd-annotate-button {
    background-image: url(../images/feather_rest.png);
    background-color: #ccc;
    background-repeat: no-repeat;
    position:absolute;
    opacity: 0.8;
    bottom:5px;
    right:5px;
    width:14px;
    height:14px;
    padding:14px 16px;
}

#osd-annotate-button:hover {
    background-image: url(../images/feather_hover.png);
}
#osd-annotate-button:active {
    background-image: url(../images/feather_pressed.png);
}

.panel-body {
   background-color: green;
   margin-left: 10px;
   max-height: 10;
   overflow-y: scroll;
}

#annotations-list {
   width: 85%;
   margin-top: 5px;
   margin-bottom: 5px;
   overflow: hidden;
   font-size: 12px;
}

