.z-planes-container {
	/* height: 170px; */
	width: 100%;
}

.z-planes-container .z-plane-info-container {
	height: 25px;
	width: 400px;
	text-align: center;
	font-size: 14px;
	display: flex;
	justify-content: center;
	padding-top: 5px;
}

.z-planes-container .z-plane-slider {
	height: 25px;
	width: 400px;
	text-align: center;
	font-size: 14px;
	display: flex;
	justify-content: center;
	padding-top: 5px;
	position: relative;
}

.z-planes-container .z-plane-slider .min-max {
	margin: 0 5px;
}

.z-planes-container .z-plane-slider .slider {
	margin: 0 5px;
	width: 270px;
	margin-top: 8px;
}

input.slider{
	flex: 1;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 4px;
	margin-top: 5px;
	background: #dcdcdc;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.slider:hover {
	opacity: 1;
}

.slider:disabled {
	cursor: not-allowed;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	border-radius: 3px;
	background: #4674a7;
	cursor: pointer;
}

.slider::-webkit-slider-thumb:disabled {
	cursor: not-allowed;
}

.slider::-moz-range-thumb {
	width: 10px;
	height: 10px;
	background: #4674a7;
	cursor: pointer;
}

.slider::-moz-range-thumb:disabled {
	cursor: not-allowed;
}

.z-planes-container .z-plane-slider .circular-button {
	/* style to remove the default CSS of the button */
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: rgb(70, 116, 167);
	margin: 0 5px;

	color: white;
}

.z-planes-container .z-plane-slider .circular-button:disabled {
	background: #DDDDDD;
	cursor: not-allowed;
}

.z-planes-container .z-plane-slider .circular-button .left {
	margin-left: -3px;
	margin-top: 2px;
}

.z-planes-container .z-plane-slider .circular-button .right {
	margin-left: 3px;
	margin-top: 2px;
}

.z-planes-container .z-plane-slider .slider-tooltip-container {
	position: relative;
}

.z-planes-container .z-plane-slider .slider-tooltip {
	position: absolute;
	display: none;
	top: -25px;
	background: white;
	padding: 0 10px;
	left: 0px;
	border: 1px solid #4674a7;
	border-radius: 5px;
}

.z-planes-container .z-plane-info-container .main-image-z-index {
	/* remove default CSS
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
	box-shadow: none; */
	
	width: 45px;
	text-align: left;
	height: 21px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: 0px;
	margin-left: 4px;
	padding-left: 4px;
    border: 1px solid #4674A7;
	border-right: 0;
}

.z-planes-container .z-plane-info-container .main-image-z-index:disabled {
	background: #DDDDDD;
	border: 1px solid #DDDDDD;
}

.z-planes-container .z-plane-info-container .main-image-z-index:focus {
	outline: none;
}

.z-planes-container .z-plane-info-container .info-buttom-container {
	/* style to remove the default CSS of the button */
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;


	height: 21px;
	padding-left: 4px;
	padding-right: 4px;
	background: rgb(70, 116, 167);
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

.z-planes-container .z-plane-info-container .info-buttom-container:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-right: 6px;
	border-right: 1px solid black;
}

.z-planes-container .z-plane-info-container .info-buttom-container:disabled {
	background: #DDDDDD;
	cursor: not-allowed;
	border: 1px solid #DDDDDD;
}

.z-planes-container .z-plane-info-container .info-buttom-container .jump-to-button {
	width: 100%;
	color: white;
}

.z-planes-container .z-plane-info-container .info-buttom-container .update-default-z-button {
	width: 100%;
	color: white;
}

.z-planes-container .z-plane-info-container .update-default-z-index {
	/* style to remove the default CSS of the button */
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;


	height: 21px;
	padding-left: 4px;
	padding-right: 4px;
	background: rgb(70, 116, 167);
	border-radius: 4px;
	margin-left: 10px;
	border: 1px solid rgb(70, 116, 167);
	color: white;
}

.z-planes-container .z-plane-info-container .update-default-z-index:disabled {
	background: #DDDDDD;
	cursor: not-allowed;
	border: 1px solid #DDDDDD;
}


.z-planes-container .z-plane-carousel {
	height: 120px;
	width: 100%;
	display: flex;
	padding-top: 5px;
}

.z-planes-container .z-plane-carousel .z-plane-container {
	width: calc(100% - 70px);
	display: flex;
	justify-content: center;
}

.z-planes-container .z-plane-carousel .z-plane-container .z-plane {
	margin: 4px;
	padding: 4px;
	border: 2px solid rgb(241, 241, 241);
	height: 104px;
	position: relative;
}

.z-planes-container .z-plane-carousel .z-plane-container .z-plane:hover {
	border: 2px solid #4674A7;
	cursor: pointer;
}


.z-planes-container .z-plane-carousel .z-plane-container .z-plane .z-plane-image {
	height: 100%;
}

.z-planes-container .z-plane-carousel .z-plane-container .z-plane .z-plane-id {
	position: absolute;
	bottom: 0px;
	margin: 2px;
	padding: 4px;
	background: rgba(255,255,255,0.5);
}

.z-planes-container .z-plane-carousel .z-plane-container .z-plane .active-1 {
	text-decoration: underline;
}

.z-planes-container .z-plane-carousel .active {
	border: 2px solid #4674A7 !important;
}

.z-planes-container .z-plane-carousel .button-container {

	/* style to remove the default CSS of the button */
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

	width: 35px;
	height: 104px;
    vertical-align: middle;
	display: flex;
	align-items: center;
	font-size: 60px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.z-planes-container .z-plane-carousel .active-button{
	color: #4674A7;
	cursor: pointer;
}

.z-planes-container .z-plane-carousel .active-button:hover{
	background-color: rgb(241, 241, 241);
}

.z-planes-container .z-plane-carousel .disabled{
	color: black;
	opacity: 0.3;
	cursor: not-allowed;
}

.z-planes-container .z-plane-carousel .z-plane-loader {
	height: 115px;
	width: 100%;
	position: absolute;
	background: #e8e8e8b8;
	z-index: 2;
	display: none;
}

.z-planes-container .z-plane-carousel .z-plane-loader .loader-container {
	height: 70px;
	width: 120px;
	margin: auto;
	background: white;
	border: 1px solid #ccc;
	border-radius: 7px;
	display: block;
}

.z-planes-container .z-plane-carousel .z-plane-loader .loader-container .loader-image {
	height: 32px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 44px;
	opacity: 0.8;
}

.z-planes-container .z-plane-carousel .z-plane-loader .loader-container .loader-text {
	font-size: 14px;
	margin: auto;
	width: 100%;
	text-align: center;
	color: #828282;
}

.glyphicon-refresh-animate {
	-animation: spin 0.7s infinite linear;
	-ms-animation: spin 0.7s infinite linear;
	-webkit-animation: spinw 0.7s infinite linear;
	-moz-animation: spinm 0.7s infinite linear;
}
@keyframes spin {
	from {
		transform: scale(1) rotate(0deg);
	}
	to {
		transform: scale(1) rotate(360deg);
	}
}
@-webkit-keyframes spinw {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinm {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

.z-planes-container .info-slider-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}