#annotationContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#annotationContainer .annotationSVG{
    position: absolute;
}

#channel-names-overlay-container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    pointer-events: none;
}

#channel-names-overlay-container .container-line {
    display: flex;
    justify-content: center;
    color: white;
    margin: 5px 0;
}

#channel-names-overlay-container .container-line .channel-name {
    padding: 0 10px;
    background-color: black;
}

#channel-names-overlay-container .channel-label-overlay {
    /* position: absolute; */
    /* font-size: 20px; */
    background: black;
    padding-right: 15px;
    display: none;
}

#channel-names-overlay-container .channel-label-overlay.visible {
    display: inline-block;
}


/* CSS for text annotation tool */
.foreign-object {
    text-align: left;
    /* alignment-baseline: baseline; */
    overflow: visible;
}

.foreign-object-div {
    display: inline-block;
    border: 100px solid red;
    position: absolute;
    padding: 500px;
    cursor: move;
}

.insideforeign:hover {
    cursor: move;
}

#textInput {
    width: 100%;
    height: 100%;
    background: transparent;
}

.resizer-bottomright { 
    /* width: 600px;
    height: 600px; */
    background: red;
    z-index: 10;
    position: absolute !important;
    transform: translate(-50%, -50%);
    top: 50%;
    /* right: -650px; */
    left: 100%;
    cursor: ew-resize;
}

.insideforeign .move-header {
    cursor: move;
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    z-index: 10;
    background-color: #2196f3;
    color: #fff;
}

/*NOSELECT*/

#divid * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

/* Text highlight */
.text-hover:hover {
    font-weight: 900;
    cursor: pointer;
}