/* Annotation List */
#menuContainer #navMenuContent .annotationList{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

#menuContainer #navMenuContent .annotationList .row.filter{
    margin: 0 5px 5px 5px;
    font-size: 12px;
}

#menuContainer #navMenuContent .annotationList .addAnnotationGroupBtn{
    position: relative;
    float: left;
    /* background: #f6f6f6; */
    /* border-radius: 2px; */
    color: #b9b9b9;
    margin: 0 5px 5px 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    justify-content: center;
    /* align-items: center; */
    font-size: 10px;
}

#menuContainer #navMenuContent .annotationList .addAnnotationGroupBtn:hover{
    color: #407cca;
    /* border: 1px solid #8c8c8c; */
}

#menuContainer #navMenuContent .annotationList .addAnnotationGroupBtn svg{
    margin-right: 5px;
}

#menuContainer #navMenuContent .annotationList .name{
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuContainer #navMenuContent .annotationList .displayAllBtn{
    flex: 1;
    padding: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#menuContainer #navMenuContent .annotationList .displayAllBtn i {
    margin: 0 5px 0 0 ;
}

#menuContainer #navMenuContent .annotationList .displayAllBtn:hover{
    color: #407cca;
}

#menuContainer #navMenuContent .annotationList .displayAllBtn.selected{
    color: #407cca;
}

#menuContainer #navMenuContent .annotationList .searchBar{
    display: flex;
    padding: 0 5px 5px 5px;
}

#menuContainer #navMenuContent .annotationList .searchBar input.search{
    flex: 1;
    padding: 3px;
    outline: none;
}

#menuContainer #navMenuContent .annotationList .resultCount{
    display: flex;
    padding: 0 5px 5px 8px;
    font-size: 10px;
    color: #a3a3a3;
}

#menuContainer #navMenuContent .annotationList .groups{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 5px;
    flex: 1;
    overflow-y: auto;
    position: relative;
    float: left;
}