#drawToolContainer{
    position: absolute;
    height: inherit;
    display: flex;
    z-index: 10;
}

#drawToolContainer .annotationTool{
    background: #407ccb;
    opacity: 0.85;
    width: 32px;
}

#drawToolContainer .toolBtn{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
}

#drawToolContainer .toolBtn i, .arrowSubmenu .toolBtn i {
    color: #fff;
}

#drawToolContainer .toolBtn.selected {
    background: #18548d;
}


#drawToolContainer .toolBtn:hover {
    background: #18548d;
}

#drawToolContainer .toolBtn input[type="color"] {
	-webkit-appearance: none;
    border: none;
    width: 15px;
    height: 15px;
    padding: 0;
    border: 1px solid #99afcb;
}

#drawToolContainer .toolBtn input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

#drawToolContainer .toolBtn input[type="color"]::-webkit-color-swatch {
	border: none;
}


/* Arrow menu */
#drawToolContainer .arrowMenu {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#drawToolContainer .arrowMenu > .arrowSubmenu {
    
    
    background: #407ccb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    flex: 0 0 100%;
    padding: 8px;
    cursor: pointer;

    opacity: 0;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    transition-property: opacity, visibility;
    visibility: hidden;

}


#drawToolContainer .arrowMenu:hover > .arrowSubmenu {

    opacity: 1;
    visibility: visible;
    flex: 0 0 100%;
}

#drawToolContainer .arrowMenu > .arrowSubmenu:hover {

    opacity: 1;
    visibility: visible;
    background: #18548d;
    flex: 0 0 100%;
}

#drawToolContainer .arrowMenu:hover > .arrowSubmenu.selected{

    opacity: 1;
    visibility: visible;
    background: #18548d;
    flex: 0 0 100%;
}

#drawToolContainer .toolBtn.activeBtn {
    order: -1;
    opacity: 1;
    visibility: visible;
    flex: 0 0 100%;
}

.textOptions {
    display: flex;
}

.fontInput {
    width: 6em;
    background: #407ccb;
    opacity: 1;
    border: none;
    color: white;
    display: block;
}

.hideFontInput {
    display: none;
}

.fontInput::placeholder {
    color: white;
}

