/* Channel List */
#menuContainer #navMenuContent .channelList{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #1e1e1e;
    /* color: #c1c1c1; */
    color: #d9d6d6;
}

#menuContainer #navMenuContent #dismiss-channel-panel {
    cursor: pointer;
}


#menuContainer #navMenuContent .channelList .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

#menuContainer #navMenuContent .channelList .title-content {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#menuContainer #navMenuContent .channelList .channels-control {
    padding: 0 5px;
    cursor: pointer;
    font-size: 15px;
}

#menuContainer #navMenuContent .channelList .channel-hamburger-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#menuContainer #navMenuContent .channelList .dropdown-menu {
    left: -170px;
    width: 190px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#menuContainer #navMenuContent .channelList .channel-hamburger-item {
    color: black;
    padding: 10px;
    cursor: pointer;
}

#menuContainer #navMenuContent .channelList .channels-control:active {
    color: #4674A7 !important;
}
#menuContainer #navMenuContent .channelList .channels-control:hover{
    color: #fff;
}

#menuContainer #navMenuContent .channelList .channels-control.fa-caret-up,
#menuContainer #navMenuContent .channelList .channels-control.fa-caret-down {
    font-size: 20px;
}

#menuContainer #navMenuContent .channelList .title{
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    padding: 5px 0;
}

#navMenuContent .channelList .groups{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1;
}
