/* Channel List */
#menuContainer #navMenuContent .channelList{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #2f2f2f;
    color: #c1c1c1;
    padding: 10px 0;
}

#menuContainer #navMenuContent .channelList .title{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    padding: 5px 10px 0;
}

#navMenuContent .channelList .groups{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    flex: 1;
    overflow-y: auto;
    /* border-radius: 5px; */
}
#navMenuContent .channelList .dismiss-channel {
  border:none;
  background-color:transparent;
  float:right !important;
  color: white;
}
