#navMenuContent .groups .channelItem{
    /* border-bottom: 1px solid #cecece; */
    padding: 10px 0;
}

#navMenuContent .groups .channelItem .channelRow{
    display: flex;
    /* padding: 5px 0; */
    color: #c1c1c1;
    height: 20px;
    font-size: 14px;
    cursor: pointer;
}

#navMenuContent .groups .channelItem .channelRow:hover{
    color: #fff;
}

#navMenuContent .groups .channelItem .toggleSetting{
    align-items: center;
    justify-content: center;
    display: flex;
}


#navMenuContent .groups .channelItem .toggleSetting i{
    vertical-align: middle;
}


#navMenuContent .groups .channelItem .channelName{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px 5px 10px;
}

#navMenuContent .groups .channelItem .toggleVisibility{
    display: flex;
    align-items: center;
    color: #c1c1c1;
}

#navMenuContent .groups .channelItem .toggleVisibility:hover{color: #fff;}

#navMenuContent .groups .channelItem .setting{
    display: flex;
    flex-direction: column;
    /* margin: 5px 0 10px 0; */
    /* height: 0; */
    overflow: hidden;
    transition: height 0.3s;
}

#navMenuContent .groups .channelItem .setting.collapse{
    height: 0px;
}

#navMenuContent .groups .channelItem .attrRow{
    display: flex;
    padding: 0 5px 5px;
    /* color: #808080; */
    font-size: 12px;
}

#navMenuContent .groups .channelItem .attrRow .name{
    flex: 1;
    /* color: #000; */
}

#navMenuContent .groups .channelItem .sliderContainer{
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: column;
}

#navMenuContent .groups .channelItem input.slider{
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background:#407cca;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* width: 100%; */
    margin: 0 5px;
    box-sizing: border-box;
}

#navMenuContent .groups .channelItem .sliderContainer[data-type="hue"] input.slider{
    background: -webkit-linear-gradient(left, hsla(0, 100%, 50%, 1),
   hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),
   hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),
   hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),
   hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),
   hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),
   hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),
   hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),
   hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),
   hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),
   hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),
   hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),
   hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
  background: -moz-linear-gradient(left, hsla(0, 100%, 50%, 1),
   hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),
   hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),
   hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),
   hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),
   hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),
   hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),
   hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),
   hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),
   hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),
   hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),
   hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),
   hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
}

/* Mouse-over effects */
#navMenuContent .groups .channelItem input.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

#navMenuContent .groups .channelItem input.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #d2d6da;
    cursor: pointer; /* Cursor on hover */
    border: 1px solid #6797d4;
    border-radius : 2px;
}


#navMenuContent .groups .channelItem input.slider::-moz-range-thumb {
    width: 5px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #d2d6da;
    cursor: pointer; /* Cursor on hover */
}
