#menuContainer{
    /* display: flex; */
    /* display:-webkit-flex; */
    background: #2f2f2f;
    /* flex-direction: row; */
    position: absolute;
    top: 0;
    left: 0px;
    opacity: 0.9;
    z-index: 1;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    overflow: hidden;
    max-height: 100%;

    height: inherit;
}

#drawToolContainer.expand + #menuContainer {
    left: 32px;
}

#menuContainer.expand {
    overflow-y: auto;
}

#menuContainer #navMenu{
    width : 35px;
}

#menuContainer #navMenu .menuType{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #717070;
    cursor: pointer;
}

#menuContainer #navMenu .menuType.selected{
    color : #fff;
}

#menuContainer #navMenu .menuType:hover{
    color : #ddd;
}

#menuContainer #navMenuContent{
    display: inline-block;
    width: 0;
    opacity: 0;
    /* background: #fff; */
    transition: width 0.3s;
    font-family: sans-serif;
    flex-direction: column;
    font-size: 12px;
    z-index: 1;
    /* border-right: 1px solid #cfcfcf; */
}

#menuContainer #navMenuContent.expand{
    width: 250px;
    opacity: 1;
    display: flex;
    /* box-shadow: 0 0 5px #a29f9f; */
}

#menuContainer #navMenuContent .title{
    text-align: center;
    color: #407cca;
    font-size: 14px;
    padding: 5px 5px;
    /* background: #f2f2f2; */
}

#menuContainer #navMenuContent .subtitle{
    text-align: left;
    color: #cac6c6;
    padding: 5px;
    font-size: 12px;
}

#menuContainer #navMenuContent .row{
    display: flex;
    padding: 5px;
    color: #656565;
    height: 20px;
}
