@import url(http://fonts.googleapis.com/css?family=Yellowtail);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body {
  padding:0px;
  margin:0px;
  font-family:"helvetica neue","helvetica","arial","sans-serif";
  font-size:14px;
  line-height:20px;
  color:#333;
  background-color:#e2e2e2;
}

a {
  color:#333;
}

hr {
  border:0;
  width:100%;
  margin:20px 0px 50px 0px;
  padding:0;
  height:2px;
  background-color:#c2c2c2;
}

h2 {
  font-size:24px;
}

.api-docs h2 {
  font-family: 'Inconsolata', sans-serif;
  font-size:18px;
  text-shadow: 1px 1px 1px #999;
}

code {
  padding:0;
  margin:0;
  font-family: 'Inconsolata', sans-serif;
  font-size:15px;
  font-weight:bold;  
}

p {
  margin:0px;
  padding:0px 0px 20px 0px;
}

.navbar {
  position:relative;
  z-index:2;
  background-color:#323232;
  padding:0px 25px;
}

.navbar-inner {
  margin:0px auto;
  width:960px;
}

.navbar ul {
  margin:0px;
  padding:0px;
}

.navbar li {
  display:inline;
}

.api-docs li {
  padding-bottom:5px;
}

.navbar li a {
  color:#fff;
  text-decoration:none;
  display:inline-block;
  padding:10px 15px 7px 15px;
  margin:0px 8px;
  border-bottom:3px solid transparent;
}

.navbar li a:hover {
  background-color:#545454;
  border-bottom:3px solid #727272;
}

.navbar li.active a {
  border-bottom:3px solid #ff9900;
}

.header {
  position:relative;
  z-index:1;
  background-color:#383838;
  margin:0px;
  padding:0px 20px 30px 20px;
  -webkit-box-shadow:0 1px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:0 1px 10px rgba(0, 0, 0, 0.3);
  box-shadow:0 1px 10px rgba(0, 0, 0, 0.3);
  border-bottom:1px solid #555;
}

.header-inner {
  margin:0px auto;
  width:960px;
}

.header h1 {
  color:#fff;
  font-size:64px;
  font-family:Yellowtail;
  margin:0px;
  padding:10px;
  font-weight:normal;
}

.header img {
  position:relative;
  top:15px;
  left:10px;
}

.download-button {
  display:block;
  cursor:pointer;
  text-decoration:none;
  margin-top:5px;
  margin-right:10px;
  padding:10px 20px;
  font-weight:bold;
  color:white;
  font-size:17px;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
  
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  border-radius:5px;
}

.download-link {
  text-align:center;
  padding:3px 0px;
  float:right;
  color:#fff;
  margin:23px 0px;
}

.breadcrumbs {
  position:relative;
  z-index:0;
  margin:-2px 0px 0px 0px;
  padding:30px 0px 0px 0px;
  background-color:#e8e8e8;
}

.breadcrumbs-inner {
  margin:0px auto;
  width:960px;
  font-weight:bold;
  padding-left:30px;
  background-color:#e8e8e8;
}

.content {
  position:relative;
  z-index:0;
  margin:-2px 0px 0px 0px;
  padding:40px 0px;
  background-color:#e8e8e8;
  border-bottom:1px solid #dadada;
}

.content-inner {
  margin:0px auto;
  width:960px;
  padding-left:30px;  
}

.content-inner:after {
  content:'.';
  display:block;
  height:0px;
  clear:both;
  visibility:hidden;
}

.content-two-column {
  float:left;
  margin-right:320px;
}

.content h2 {
  margin-top:30px;
}

.content h3 {
  margin:10px 0px 5px 0px;
  padding:0px;
}

.content h3 code {
  font-size:18px;  
}

.content ul {
  margin-top:5px;
}

.sidebar {
  float:right;
  width:250px;
  padding:5px 30px 0px 10px;
  margin-left:-100%;
}

.sidebar h2 {
  font-size:16px;
  padding:0px 0px 5px 0px;
  border-bottom:2px solid #c2c2c2;
}

.sidebar ul {
  margin-left:0px;
  margin-bottom:30px;
  padding-left:0px;
  list-style:none;
}

.sidebar li {
  padding:0px 0px 0px 8px;
  margin:6px 0px;
  border-left: 3px solid #c2c2c2;
}

.sidebar li:hover {
  border-color:#ee9900;
}

.demo-thumbnail {
  position:relative;
  display:inline-block;
  margin:10px 40px 20px 30px;
  overflow:hidden;
  cursor:pointer;
  width:400px;
  height:200px;
}

.demo-thumbnail img {
  display:block;
}

.image-dummy {
  width:400px;
  height:300px;
  background-color:#f4f4f4;
}

.demo-caption {
  position:absolute;
  bottom:-80px;
  height:60px;
  width:380px;
  color:#fff;
  padding:10px;
  background-color:rgba(0, 0, 0, 0.7);
  -webkit-transition:bottom 0.2s ease-in-out;
  -moz-transition:bottom 0.2s ease-in-out;
  -o-transition:bottom 0.2s ease-in-out;
  transition:bottom 0.2s ease-in-out;
}

.demo-thumbnail:hover .demo-caption {
  bottom:0px;
}

.demo-caption h3 {
  margin:0px;
  padding:0px;
  font-weight:bold;
  font-size:15px;
}

.demo-caption p {
  margin:0px;
  padding:0px;
}

.highlight {
  width:630px;
  margin:0px 0px 20px 0px;
}

.highlight pre ol {
    border:1px solid #c2c2c2;
}

.attribution {
  padding-top:8px;
  font-size:12px;
  line-height:18px;
  color:#777;
  width:640px;
}

.plugin {
  background-color:#f4f4f4;
  padding:10px;
  margin:10px 0px 20px 0px;
  border:1px solid #e0e0e0;
}

.plugin .bottom-link {
  display:inline-block;
  padding-top:5px;
  text-decoration:none;  
  color:#999;
  border-bottom: 3px solid transparent;
  margin-right:10px;
}

.plugin .bottom-link:hover {
  color:#333;
  border-color:#ee9900;
}

footer {
  clear:both;
  width:100%;
}

.footer-inner {
  margin:0px auto;
  padding:20px 0px 100px 0px;
  width:960px;
  padding-left:30px;
}

.footer-inner p {
  margin:3px 0px;
  padding:0px;
}
